/******************
ID and KEY, search https://github.com/codetheweb/tuyapi/blob/HEAD/docs/SETUP.md 
for more info to obtain the credentials in iot.tuya.com
******************/

ID=*************
KEY=************